<!DOCTYPE html>
<html>
<head>
  <title>SanFilmcisco</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDh7u-BCGVXz_a1ml5E5fBPUXKrqlY0hxA&libraries=places"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>

<%= yield %>

</body>
</html>
